body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.Table {
  display: flex;
  flex-direction: column;
}

.Row, .Head{
  display: flex;
  flex-direction: row;
}

.Head {
  background-color: lightgray;
}

.Row:hover {
  background-color: beige;
  cursor: pointer;
}

.Item {
  display: flex;
  flex-direction: column;
  flex-basis: 150px;
}

.Error {
  color: red;
}